@import url("./header.css");

.footer {
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    font-size: 16px;
    max-width: 900px;
    margin: auto;
}

.footer__author {
    margin: 0;
}

.footer__icons {
    display: flex;
    gap: 15px;
}

.footer__icons a {
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.footer__icons a:hover {
    color: var(--primary-color); 
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .footer__author {
        margin-left: 20px;
    }

    .footer__icons {
        padding-right: 20px;
    }

}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footer__author {
        padding-bottom: 20px;
        font-size: 15px;
    }

}