@import url("./header.css");

.footer {
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    font-size: 16px;
    max-width: 900px;
    margin: auto;
}

.footer__author {
    margin: 0;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--primary-color); 
}