:root {
  --main-color: #191c32;
  --primary-color: aqua;
  --secondary-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--main-color);
}

.header {
  margin: auto;
  max-width: 1100px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header__name {
  padding-top: 50px;
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  font-size: 50px;
  color: var(--secondary-color);
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  max-width: 100%;
}

.header__content-img {
  max-width: 200px;
  height: auto;
}

.header__content-img:hover {
  transform: translateY(-8px);
}

.header__content-paragraph {
  color: var(--secondary-color);
  width: 650px;
  height: 250px;
  font-size: 17px;
}

.header__download {
  text-align: center;
  padding-top: 20px;
}

.btn {
  padding: 10px 10px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(102, 221, 200, 0.69);
}
